<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Unicorn Blog</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="/" class="logo">Unicorn</a>
                <nav class="nav">
                    <a href="#" class="nav__link">About</a>
                    <a href="/new" class="nav__link">New Article</a>
                    <a href="#" class="nav__link">Contact</a>
                </nav>
            </div>
        </div>
    </header>
